[user]
	name = Matt Bedell
	email = matt@bedell.co
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[pager]
	diff = diff-highlight | less
[difftool "nvim"]
	cmd = "nvim -d ${LOCAL} ${REMOTE}"
[diff]
	tool = vimdiff
	colorMoved = true
[pull]
	ff = only
[push]
  default = upstream
[alias]
	co = checkout
	sw = switch
	re = restore
	cm = commit
	br = branch
	st = status
	rb = rebase
	diffc = diff --cached
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	pushb = push --set-upstream origin HEAD
	undo = reset HEAD~1 --mixed
	dt = diff-tree --no-commit-id --name-only -r
	wt = worktree
	wta = "!f() { git worktree add $(git rev-parse --show-toplevel)/../${1-TMP}; }; f"
	wtr = "!f() { git worktree remove $(git rev-parse --show-toplevel)/../${1-TMP}; }; f"
