[user]
	name = Matt Bedell
	email = matt@bedell.co
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[pager]
	; diff = diff-highlight | less
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  ; side-by-side = true
  line-numbers = true
  hunk-header-style = omit
[difftool "nvim"]
	cmd = "nvim -d ${LOCAL} ${REMOTE}"
[diff]
	tool = vimdiff
	colorMoved = true
[blame]
	markUnblamableLines = true
	markIgnoredLines = true
	ignoreRevsFile = ~/.gitignore_revs
[pull]
	ff = only
[push]
  default = upstream
[alias]
	co = checkout
	sw = switch
	re = restore
	cm = commit
	br = branch
	s = status
	rb = rebase
	diffc = diff --cached
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	pushb = push --set-upstream origin HEAD
	undo = reset HEAD~1 --mixed
	dt = diff-tree --no-commit-id --name-only -r
	wt = worktree
	wta = "!f() { git worktree add $(git rev-parse --show-toplevel)/../${1-TMP}; }; f"
	wtr = "!f() { git worktree remove $(git rev-parse --show-toplevel)/../${1-TMP}; }; f"
	lb = !git reflog -n 100 --pretty=format:'%gs ~ %gd' --date=relative --grep-reflog="checkout:" | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"* \\033[31m%-35s \\033[32m(%s)\\033[0m\\n\", $1, substr($2, 1, length($2)-1))}'
